.message-form {
    max-width: 95%;
    bottom: 10px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.user-name {
    width: 150px;
}

.user-message {
    width: 70%;
}