.message-form {
    width: 70%;
    bottom: 10px;
    margin: 0 auto;
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: rgba(243, 222, 184, 0.385);
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
}

.user-name,
.user-message {
    height: 30px;
    width: 120px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 16px;
}

.user-name::placeholder,
.user-message::placeholder {
    color: rgba(0, 0, 139, 0.475);
}

.user-message {
    width: 380px;
}

.send-btn {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 10px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.send-btn:hover,
.send-btn:focus {
    color: white;
    background-color: black;

}