.App {
  height: 100vh;
  text-align: center;
  background-color: rgb(185, 229, 244);
}

/* .chatlist-wrp {
  background-color: aliceblue;
}

.chat-wrp {
  display: flex;
  flex-direction: column;
}

.message-list-wrp {
  height: 87vh;
  overflow-y: auto;
}

.message-list {
  padding: 0 25px;
}

.message-form-wrp {
  height: 13vh;
} */