.App {
  height: 100vh;
  text-align: center;
  background-color: rgb(185, 229, 244);
  display: grid;
  grid-template-columns: 20% 80%;
  overflow: hidden;
}

.chatlist-wrp {
  background-color: aliceblue;
}

.chat-wrp {
  display: flex;
  flex-direction: column;
}

.message-list-wrp {
  height: 87vh;
  overflow-y: auto;
}

.message-list {
  padding: 0 25px;
}

.message-form-wrp {
  height: 13vh;
}