label {
    font-size: 20px;
    color: white;
}

.message-el {
    margin: 20px auto;
    width: 72%;
    color: white;
    font-size: 20px;
    padding: 5px;
    list-style-type: none;
    border-radius: 20px;
    display: flex;
}

.message-el-name,
.message-el-text {
    padding: 10px;
    text-align: start;
    border-radius: 10px;
    background-color: aqua;
    margin: 0 20px 0 0;
}

.message-el:nth-child(odd) .message-el-name {
    background-color: rgb(2, 148, 14);
}

.message-el:nth-child(even) .message-el-name {
    background-color: orange;
}

.message-el:nth-child(odd) .message-el-text {
    background-color: rgb(0, 196, 16);
}

.message-el:nth-child(even) .message-el-text {
    background-color: rgb(163, 107, 2);
}